body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.feedback-form {
    padding: 10px;
    border-radius: 8px;
    width: 300px;
}
h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input,textarea,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: green;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}